name: Release

on:
  push:
    tags:
      - 'v[0-9]+*'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        dotnet-version: ['2.2.108']
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
      NUGET_XMLDOC_MODE: skip
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Setup .NET Core ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet-version }}
    - name: Test
      run: dotnet test -c Release ./Mamemaki.HolidayJp.Test/Mamemaki.HolidayJp.Test.csproj
  release:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v1
    - name: Create NuGet package
      run: dotnet pack -c Release ./Mamemaki.HolidayJp/Mamemaki.HolidayJp.csproj
    - name: Publish nuget
      run: dotnet nuget push ./Mamemaki.HolidayJp/bin/Release/Mamemaki.HolidayJp.*.nupkg -k "$NUGET_API_KEY" -s https://api.nuget.org/v3/index.json
      env:
        NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
